#tabContainerFM{
    height: 500px;
    width: 600px;   
    margin-top: 1px;
}
#tabContainerIdade{
    height: 500px;
    width: 600px;
    margin-top: 200px;
}
#tabContainerEscolaridade{
    height: 500px;
    width: 600px;
    margin-top: 200px;
}
#tabContainerRaca{
    height: 500px;
    width: 600px;
    margin-top: 200px;
}
#tabContainerRenda{
    height: 500px;
    width: 600px;
    margin-top: 200px;
}

.row{
    align-items: center;
    display: flex;
    flex-direction:column;
}

#depContainerSexo{
    height: 500px;
    width: 600px;   
    margin-top: 30px;
}
#depContainerIdade{
    height: 500px;
    width: 600px;   
    margin-top: 1px;
}
#depContainerEscolaridade{
    height: 500px;
    width: 600px;   
    margin-top: 1px;
}

#depContainerRaca{
    height: 500px;
    width: 600px;   
    margin-top: 1px;
}

#depContainerRenda{
    height: 500px;
    width: 600px;   
    margin-top: 1px;
}

#tabDepContainer{
    height: 500px;
    width: 600px;   
    margin-top: 1px;
}

#tabDepRegContainer{
    height: 500px;
    width: 600px;   
    margin-top: 1px;
}

#tabDepEstContainer{
    height: 500px;
    width: 600px;   
    margin-top: 1px;
}

