#tabContainerFM {
    height: 500px;
    width: 600px;
}

#tabContainerIdade {
    height: 500px;
    width: 600px;
}

#tabContainerEscolaridade {
    height: 500px;
    width: 600px;
}

#tabContainerRaca {
    height: 500px;
    width: 600px;
}

#tabContainerRenda {
    height: 500px;
    width: 600px;
}


#depContainerSexo {
    height: 500px;
    width: 600px;
}

#depContainerIdade {
    height: 500px;
    width: 600px;

}

#depContainerEscolaridade {
    height: 500px;
    width: 600px;
}

#depContainerRaca {
    height: 500px;
    width: 600px;

}

#depContainerRenda {
    height: 500px;
    width: 600px;
}

#tabDepContainer {
    height: 500px;
    width: 600px;
}

#tabDepRegContainer {
    height: 500px;
    width: 600px;
}

#tabDepEstContainer {
    height: 500px;
    width: 600px;
}

footer {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #C8F0F8;
    color: black;
    position: relative
}

#autores {
    font-weight: bold;
    color: #005A66
}

.text-primary {
    color: rgb(10, 180, 199) !important;
}

.scroll-indicator {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 3rem;
    color: #005A66;
    z-index: 1000;
    user-select: none;
    transition: all 0.3s ease;
    animation: bounce 2s infinite;
}
.scroll-indicator div p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}