#tabContainerFM {
    height: 500px;
    width: 600px;
}

#tabContainerIdade {
    height: 500px;
    width: 600px;
}

#tabContainerEscolaridade {
    height: 500px;
    width: 600px;
}

#tabContainerRaca {
    height: 500px;
    width: 600px;
}

#tabContainerRenda {
    height: 500px;
    width: 600px;
}


#depContainerSexo {
    height: 500px;
    width: 600px;
}

#depContainerIdade {
    height: 500px;
    width: 600px;

}

#depContainerEscolaridade {
    height: 500px;
    width: 600px;
}

#depContainerRaca {
    height: 500px;
    width: 600px;

}

#depContainerRenda {
    height: 500px;
    width: 600px;
}

#tabDepContainer {
    height: 500px;
    width: 600px;
}

#tabDepRegContainer {
    height: 500px;
    width: 600px;
}

#tabDepEstContainer {
    height: 500px;
    width: 600px;
}

footer {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #C8F0F8;
    color: black;
    position: relative
}

#autores {
    font-weight: bold;
    color: #005A66
}

.text-primary {
    color: rgb(10, 180, 199) !important;
}